{% extends "layout.html.twig" %}

{% block title %} Регистрация  {% endblock %}
{% block page_title %} Регистрация {% endblock %}

{%  block content %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('blog_list') }}">Вернуться назад</a>
        </li>
    </ul>



{% endblock %}